

body {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center
}

div {
    border: solid black 1px;

}

.container {
    width: 200px;
    height: 300px;
    padding: 5%;
}

.number-container {
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}

.number-container > button {
    width: 45px;
}

.number-operator-container {
    display: flex;
}

.operators > button {
    width: 45px;
}

.screen-container {
    display: flex;
    width: 200px;
    height: 50px;
    flex-direction: row;
}

.screen {
 flex-grow: 1;
 text-align: left;
 padding: 5px;
}

.operators {
    width: 50px;
}

.operator {
    width: 40px;
    height: 20px;
    align-self: flex-end;
}